<style>
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color:black;
}
.navbar {
  overflow: hidden;
  background-color: #6c0000;
  font-weight: bold;
  width: 99%;
  height: 50px;
}
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  font-weight: bold;
  margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
  height: inherit;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.banner {
  overflow: hidden;
  width: 99%;
  height: 250px;
  background-color: #cd0000;
  margin: 0;
}
.content {
  width: 99%;
  height: 550px;
  word-wrap: break-word;
}
.hr {
  overflow: hidden;
  width: 99%;
}
.footer {
  overflow: hidden;
  width: 99%;
  height: 50px;
}
</style>
